/* Main dingen */

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/* Navbar */

.navbar{
    background-color: #D81E05;
    overflow: hidden;

    border-radius: 21px;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 0;
}

nav li {
    display: flex;

    margin: 0 auto;
}

nav a{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #000000;

    transition-duration: 0.4s;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 35px;

    width: 250px;
    height: 80px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

.logo{
    display: flex;
    align-items: center;

    width: 360px;
    height: 100px;


    border:  solid #FFFFFF;
    background: #FFFFFF;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
}

.logo-foto{
    display: flex;
    flex: auto;
    width: 10%;
    height: 110%;
}

nav a:hover{
    color: #FFFFFF;
    background: #26A514;
    border: 1px solid #FFFFFF;
}

.logo:hover{
    border:  solid #FFFFFF;
    background: #FFFFFF;
    box-shadow:  4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
}

/* Textbox */

.textbox{
    background: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
}

.text{
    margin: 30px;
    padding: 30px;


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}
.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.flexbox-item{
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: rgba(217, 217, 217, 0.8);
    justify-content: space-evenly;
}

.flexbox-item-1{
    width: 313px;
    height: 373px;
}
.flexbox-item-2{
    width: 770px;
    height: 373px;
}
.flexbox-item-3{
    width: 313px;
    height: 373px;
}
.flexbox-item-4{
    width: 770px;
    height: 373px;
}

#naam-Jennifer{
    font-size: 36px;

    /*align-self: flex-end;*/

}
.match_foto {
    max-width:80%;
    max-height:80%;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;


}

/* Responsive layout */

@media screen and (max-width: 360px){
    main{
        flex-direction: column;
        font-size: 20px;
    }
    div{
        font-size: 20px;
        flex-direction: column;
    }
    h1{
        font-size: 1.5em;
    }
    nav ul{
        flex-wrap: wrap;
    }
}