body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.detail-info {
    flex-grow: 3;
}

* {
    box-sizing: border-box;
}

a.read {
    flex-direction: row;
}

img.profile {
    border-radius: 20px;
    display: block;
    width: 228px;
    height: 294px;
    margin: auto;
}

img.profile2 {
    border-radius: 47px;
    display: block;
    width: 77px;
    height: 90px;
    margin: auto;
}

img.profile3 {
    border-radius: 20px;
    display: block;
    width: 100px;
    position: absolute;
    alignment: right;
    flex-direction: row;
}


/* Navbar */
.navbar {
    background-color: #D81E05;
    overflow: hidden;

    border-radius: 20px;
}

.navbar {
    background-color: #D81E05;
    overflow: hidden;

    border-radius: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 0;
}

nav li {
    display: flex;

    margin: 0 auto;

    width: 250px;
    height: 90px;

    transition-duration: 0.4s;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

nav a {
    text-decoration: none;

    margin: 0 auto;
    padding: 20px;

    width: 100%;
    height: 100%;

    color: #000000;

    transition-duration: 0.4s;
    text-align: center;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

/* Voor de profiel bewerkenknop */
.navbar1 {
    text-decoration: none;

    margin: 0 auto;
    padding: 0px;

    width: 100%;
    height: auto;

    color: #000000;

    transition-duration: 0.4s;
    text-align: center;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;

}

.move-me {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    right: 100px;
    left: 0px;

}

.home_icon {
    background-color: #FFFFFF;
    background-image: url('../img/home_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 250px;
    height: 90px;

    transition-duration: 0s;
}

.home_icon a {
    font-size: 0;

    transition-duration: 0s;
}

.home_icon a:hover {
    background-image: url('../img/home_button_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    font-size: 0;
    transition-duration: 0s;
}

.logo {
    width: 360px;
    height: 120px;

    margin-inline: 100px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
}

nav li:hover {
    background: #26A514;
    border: 3px solid #FFFFFF;
}

nav a:hover {
    color: #FFFFFF;
}

/* Textbox 2 voor profiel bewerken  */
.textbox2 {
    background: #D9D9D9;
    border-radius: 10px;
    width: 426px;
    height: 55px;
}

.textbox {
    background: green;
    border-radius: 20px;
}

.textbox1 {
    border-radius: 20px;
}

.text {
    margin: 0px;
    padding: 0px;


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

.textright {
    margin: 0px;
    padding: 0px;


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: justify-all;
}

/* Voor de groene bg daarbij */
.textt {
    margin: 0px;
    padding: 0px;
    position: center;

    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 10px;
}

/* Voor de matching history */
.text3 {
    margin: 0px;
    padding: 0px;


    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 34px;
}


.box {
    width: 250px;
    height: 90px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 0 30px 30px 30px;
}

/* Responsive layout */

@media (max-width: 360px) {
    main {
        flex-direction: column;
    }

    h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-wrap: wrap;
    }
}

/* Test */
section {
    display: flex;
    flex-direction: row;
}

.container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

}

.containerMatching {
    flex-direction: revert;
    justify-content: start;
    align-items: flex-start;
}

section.general-info {
    flex-grow:1 ;
    align-items: center;
    flex-direction: row;
}

section.detail-info {
    flex-grow: 3;

}

article {
    background: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
    border: #565656 1px solid;
    margin: 15px;
    padding: 15px;
    max-width: 2000px;
    align-items: flex-start;

}

article.c {
    text-align: right;
}

/* Voor de social media */
.button {
    color: transparent;
    border-radius: 50%;
    border: none;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px;
}

.button1 {
    color: transparent;
    border-radius: 100%;
    border: none;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px;
}

.button2 {
    background-color: transparent;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


body {
    font-size: 14px;
    line-height: 22px;
}

.wrapper {
    width: 500px;
    padding: 30px 40px;
    border-radius: 3px;
    margin: 50px auto 0;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.wrapper ul {
    height: 120px;
    overflow: hidden;
    padding-left: 15px;
}

.wrapper ul.active {
    height: auto;
}

.wrapper ul li {
    margin-bottom: 5px;
    list-style: none;
    position: relative;
}

.wrapper ul li:before {
    content: "";
    position: absolute;
    top: 8px;
    border-radius: 50%;
    background: #bfbfbf;
    left: -12px;
    width: 5px;
    height: 5px;
}

.wrapper .toggle_btn {
    cursor: pointer;
    margin-left: 70%;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    background: rgb(204, 12, 79);
}

.wrapper .toggle_btn.active .fas {
    transform: rotate(180deg);
}
