/* Main dingen */

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/* Navbar */

.navbar{
    background-color: #D81E05;
    overflow: hidden;

    border-radius: 21px;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0;
}

nav li {
    display: flex;

    margin: 0 auto;

    width: 250px;
    height: 90px;

    transition-duration: 0.4s;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
}

nav a{
    text-decoration: none;

    margin: 0 auto;
    padding: 10%;

    color: #000000;

    transition-duration: 0.4s;
    text-align: center;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.home_icon{
    background-color: #FFFFFF;
    background-image: url('../img/home_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 250px;
    height: 90px;

    transition-duration: 0s;
}

.home_icon a{
    font-size: 0;

    width: auto;
    height: auto;

    transition-duration: 0s;
}

.home_icon a:hover{
    background-image: url('../img/home_button_hover.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 250px;
    height: 90px;

    font-size: 0;
    transition-duration: 0s;
}

.logo{
    width: 360px;
    height: 120px;

/*    src=../assets/img/logo.PNG height="90" width="247"*/
    margin-inline: 100px;

    border: 0px solid #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
}

nav li:hover{
    background: #26A514;
    border: 1px solid #FFFFFF;
}

nav a:hover{
    color: #FFFFFF;
}

.logo:hover{
    border: 0px solid #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow: hidden;
}

/* Textbox */

.textbox{
    background: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
}

.text{
    margin: 30px;
    padding: 30px;


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

/* Responsive layout */

@media (max-width: 360px){
    main{
        flex-direction: column;
    }
    h1{
        font-size: 1.5em;
    }
    nav ul{
        flex-wrap: wrap;
    }
}