/* Main dingen */
Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
section {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    border-radius: 15px;
}

.infoLeft, .infoRight {
    display: flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
    margin: 10px;
    width: 50%;
    border: 1px solid black;
}

.persoon {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-family: "Roboto Thin", sans-serif;
}

.foto {
    margin: 15px;
    border-radius: 20px;
    border: 2px solid black;
}

.contact {
    margin-left: 20px;
}

.droom {
    justify-content: center;
    margin-bottom: 20px;
}

.extra {
    display: flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
    margin: 10px;
    width: 50%;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 1px solid black;
}

.pictures {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
}
.pf {
    border: 2px solid black;
}

.pictureText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    text-align: center;
    align-items: center;
}

.tekst {
    padding: 20px;
    font-size: 24px;
    line-height: 35px;
    font-family: "Roboto Thin", sans-serif;
    text-align: center;
}

.kopje {
    font-size: 24px;
    line-height: 35px;
    font-family: "Roboto Thin", sans-serif;
    text-align: center;
    padding-top: 10px;
}

.vlaggen {
    align-items: end;
    margin-left: 30px;
    padding-left: 30px;
    font-size: 36px;
    font-family: "Roboto Thin", sans-serif;
}

.banner {
    padding: 10px;
    text-align: center;
    font-size: 48px;
    font-family: "Roboto Thin", sans-serif;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 15px;
    align-items: center;
}

.right, .left, .middle {
    display: flex;
    flex-direction: row;
    width: 33%;
    background: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
    margin: 10px;
}

.middle {
    margin-top: 40px;
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 15px;
}

/* responsive layout */
@media screen and (max-width: 1000px) {

    .left, .middle, .right {
        justify-content: center;
        width: auto;
    }
    section {
        flex-direction: column;
        justify-content: center;
    }

    footer {
        flex-direction: column;
    }
    .pictureText {
        font-size: 24px;
    }
}